<ion-header class="bg-thime">
  <ion-navbar>
    <button ion-button icon-only style="display: block !important; background: transparent;z-index: 99;position: absolute;top: 0;" (click)="back()">
      <ion-icon name="ios-arrow-back"><!-- <img src="assets/imgs/ic_menu.png"> --></ion-icon>
    </button>

    <ion-title text-uppercase text-center>{{"app_title" | translate}} <br>
       <div (click)="selectCountry()" class="country"> <small> Venezuela</small> <ion-icon name="arrow-dropdown"></ion-icon></div>
      <span float-right>
        <ion-icon class="icon" (click)="wishlistPage()"><img src="assets/imgs/ic_my_wishlist.png" width="100%;"></ion-icon>
        <ion-icon class="icon" (click)="cartPage()"><img src="assets/imgs/ic_my_cart.png" width="100%;"></ion-icon>
      </span>
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{'search_box' | translate}}" (click)="searchPage()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items"> </ion-item>
  </ion-list>
  <div class="tab-row">
    <ion-row>
      <ion-col (click)="categoryPage()">
        <div class="img-box" text-center>
          <img src="assets/imgs/electronics.png">
          <small class="text-white">Electronicos</small>
        </div>
      </ion-col>
      <ion-col (click)="categoryPage()">
        <div class="img-box" text-center>
          <img src="assets/imgs/fashion.png">
          <small class="text-white">Fashion</small>
        </div>
      </ion-col>
      <ion-col (click)="categoryPage()">
        <div class="img-box" text-center>
          <img src="assets/imgs/home.png">
          <small class="text-white">Hogar</small>
        </div>
      </ion-col>
      <ion-col (click)="categoryPage()">
        <div class="img-box" text-center>
          <img src="assets/imgs/mobaile.png">
          <small class="text-white">Mobile</small>
        </div>
      </ion-col>
      <ion-col (click)="categoryPage()">
        <div class="img-box" text-center>
          <img src="assets/imgs/more.png">
          <small class="text-white">Mas</small>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-header>
<ion-content class="bg-light">
    <ion-slides pager autoplay=2000 parallax=true>
      <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.image" class="slide-image" />
        <div class="banner-text">
          <p [innerHTML]="slide.description"></p>
          <small [innerHTML]="slide.smalltext"></small>
          <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        </div>
      </ion-slide>
    </ion-slides>
  

  
  <ion-row *ngFor="let independient of independients;let last = last;let i = index">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div class="img-box" (click)="itemdetailPage()">
                <img [src]="independient.attributes.photo">
            </div>
            <ion-icon name="thumbs-up" class="text-light icon" [ngClass]="independient.followColor" (click)="seguir( independient.id, i, independient.attributes.title )"></ion-icon>
          </ion-card-header>
          <ion-card-content (click)="itemdetailPage()">
            <h5>{{independient.attributes.title}}</h5>
            <div class="rateing">
              <div class="card-btn">
                <p class="" float-left>
                  <span class="text-white bg-green small-text">4.2 <ion-icon name="md-star"></ion-icon></span>
                  <span class="text-light bold"> (125)</span>
                </p>
                <div style="display: flex;" float-right>
                  <div class="price text-light mr-5">
                    <img src="assets/imgs/rupee-light.png" class="rupee-icon">500
                  </div>
                  <div class="price text-sky">
                    <img src="assets/imgs/rupee-sky.png" class="rupee-icon">300
                  </div>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ng-container *ngIf="independient[i+1]">
        <ion-col>
          <ion-card>
            <ion-card-header>
                <div class="img-box" (click)="itemdetailPage()">
                    <img [src]="independient[i+1].attributes.photo">
                </div>
                <ion-icon name="thumbs-up" class="text-light icon"></ion-icon>
            </ion-card-header>
            <ion-card-content (click)="itemdetailPage()">
                <h5>{{independient[i+1].attributes.name}}</h5>
                <div class="rateing">
                    <div class="card-btn">
                        <p class="" float-left>
                            <span class="text-white bg-green small-text">4.2 <ion-icon name="md-star"></ion-icon></span>
                            <span class="text-light bold"> (125)</span>
                        </p>
                        <div style="display: flex;" float-right>
                            <div class="price text-light mr-5">
                                <img src="assets/imgs/rupee-light.png" class="rupee-icon">500
                            </div>
                            <div class="price text-sky">
                                <img src="assets/imgs/rupee-sky.png" class="rupee-icon">300
                            </div>
                        </div>
                    </div>
                </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-content>