page-country {
    .content {
        background: rgba(0, 0, 0, .5) !important;
    }
    .your-cart {
        padding-top: 5px;
        .card {
            width: auto;
            margin: 6px;
            border-radius: 10px;
            .card-content {
                padding: 0 !important;
            }
        }
        .img-box {
            width: 100%;
            max-width: 45px;
        }
        h4 {
            font-weight: 500 !important;
            letter-spacing: 1px;
            position: relative;
            margin-top: 9px;
            display: flex;
            align-items: stretch;
            .icon {
                img {
                    width: 28px;
                }
            }
        }
        .rate {
            display: flex;
            align-items: center;
            margin-top: 7px;
            .price-box {
                margin-right: auto;
                width: 50%;
                .price {
                    padding-left: 10px;
                    position: relative;
                    display: block;
                    font-weight: 700;
                    font-size: 1.3rem;
                    &.text-light {
                        font-weight: 400;
                        text-decoration: line-through;
                    }
                    .rupee-icon {
                        width: 7px;
                        position: absolute;
                        top: 3.5px;
                        left: 0px;
                    }
                }
            }
            p {
                font-size: 1.1rem;
                font-weight: 500 !important;
                margin-left: auto;
                color: $black-color;
                display: flex;
                align-items: center;
                span {
                    margin-left: 6px !important;
                    position: relative;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    color: #7b7b7b !important;
                    .icon {
                        margin-left: 8px;
                        margin-top: 3px;
                    }
                }
            }
        }
        h6 {
            font-size: 1.1rem;
            font-weight: 100;
            padding-left: 20px;
            letter-spacing: 1px;
            span {
                font-weight: 600 !important;
                padding-left: 20px;
                position: relative;
                font-size: 1.3rem !important;
                img {
                    width: 9px;
                    position: absolute;
                    right: 63px;
                    top: 1px;
                }
            }
        }
    }
    @media (max-width: 350px) {
        .rateing {
            p {
                font-size: 1rem !important;
            }
        }
        h4 {
            font-size: 1.1rem !important;
        }
    }
    .checkout {
        padding: 9px 0;
        button {
            &.btn-shadow {
                box-shadow: 1px 10px 23px -4px #00629f !important;
            }
            &.btn-text {
                padding: 0;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: 1px;
            }
            &.btn-round {
                border-radius: 5px !important;
            }
        }
    }
    .mr-5 {
        margin-right: 5px;
    }
    .scroll-content {
        top: 30% !important;
    }
    .selector {

        letter-spacing: 0.1px;
        color: #29235e;
        width: 100% !important;
        max-width: 100% !important;
        justify-content: center;
      
        background-color: #ffffff;
        text-align: center;
      }
      .option {
        font-family: SFNSDisplay;
        font-size: 8px;
        line-height: 1.2;
        letter-spacing: 0.1px;
        color: #29235e;
        width: 100% !important;
        max-width: 100% !important;
        justify-content: center;
        height: 20px;
      }
    
      ion-option .list{
        font-family: SFNSDisplay;
        font-size: 8px !important;
        max-width: 100% !important;
      }
      .ion-option-items .item{
        font-family: SFNSDisplay;
        font-size: 8px !important;
        max-width: 100% !important;
      }
     .select-popover {
        font-family: SFNSDisplay !important;
        font-size: 8px !important;
        max-width: 100% !important;
      }
      .btn_save{
          margin: 0 auto;
      }
}
