page-password {
    .button-full {
        margin-top: 15px;
    }
    .form ion-item .text-input {
        letter-spacing: 4px;
    }
    .d-flex {
        display: flex;
        align-items: center;
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        padding-right: 18px;
        margin-bottom: 5px;
        .item-inner {
            border: none !important;
            margin-bottom: 0px;
        }
        .eye-icon {
            display: block;
            font-size: 2.5rem;
        }
    }
    .active {
        display: block;
        font-size: 2.5rem;
        color:black !important;
    }   
    
    .error .form ion-list .item-inner {
        border: 1px solid transparent !important;
    }
}
